.cs-modal-form {
  .form-group {
    margin-bottom: 1rem !important;
  }

  .ng-multselect span {
    position: relative !important;
  }

  #form-first {
    border-right: 1px solid #ddd;
  }

  legend {
    color: #6c757d;
  }

  label {
    color: #6c757d;
  }

  margin-bottom: 0px !important;
}
